@model Demo_PhanQuyen.Models.ThanhVien

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ThanhVien</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LoaiTV.TenLoai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoaiTV.TenLoai)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tenTV)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tenTV)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.username)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.password)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.maTV }) |
    @Html.ActionLink("Back to List", "Index")
</p>
