@model IEnumerable<QLBH.Models.SanPham>
@{
    ViewBag.Title = "Index";
}

@*<link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/jquery.ui/1.10.4/themes/cupertino/jquery-ui.css" />*@

<style>
    .khung {
        position: relative;
        left: 10%;  
        bottom: 10px;
    }

    table {
        width: 500px;
    }
</style>
@if (ViewBag.Success != null)
{
    <div id="msgAlert" class="alert alert-success" role="alert">
        @ViewBag.Success
    </div>
}

<p>
    <a href="@Url.Action("Create", "SanPhams", FormMethod.Post)" class="btn btn-success btn-sm">Tạo mới sản phẩm</a>
</p>
<form action="@Url.Action("Index", "SanPhams")" style="text-align:center">
    <input type="radio" name="giathanh" value="true" />Dưới 10 triệu
    <input type="radio" name="giathanh" value="false" />Trên 10 triệu
    <hr />
    <div class="text-center">
        <a href="@Url.Action("Index", "SanPhams", new { gia = 1 })">Dưới 10 triệu</a>
        <a href="@Url.Action("Index", "SanPhams", new { gia = 2 })">Từ 10 triệu trở lên</a>
    </div>
    <hr />

    <table>
        <tr>
            <td><input type="text" id="search" class="form-control" name="txttim" value="@ViewBag.tim" placeholder="Gõ từ khóa" /></td>
            <td><button type="submit" name="btnTim" class="btn btn-primary">Tìm Kiem</button></td>
        </tr>
    </table>
</form>
<a href="@Url.Action("Xuat", "SanPhams")">Xuất file Excel</a>

<form class="khung" action="@Url.Action("Index", "SanPhams")">
    
</form>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>
                Tên sản phẩm
            </th>
            <th>
                Đơn vị tính
            </th>
            <th>
                Đơn giá
            </th>
            <th>
                Hình ảnh
            </th>
            <th>
                Tên loại sản phẩm
            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(a => item.TenSP)
                </td>
                <td>
                    @Html.DisplayFor(a => item.DonViTinh)
                </td>
                <td>
                    @string.Format("{0:#,### vnđ}", item.DonGia)
                </td>
                <td>
                    <img style="width:100px;height:100px" src="@Url.Content(item.HinhSP)" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LoaiSP.TenLoaiSP)
                </td>
                <td>
                    <a href="@Url.Action("Edit", "SanPhams", new { id = item.MaSP })" class="btn btn-success btn-sm">Sửa</a>|
                    <a href="@Url.Action("Details", "SanPhams", new { id = item.MaSP })" class="btn btn-info btn-sm">Chi tiết</a>|
                    <a href="@Url.Action("Delete", "SanPhams", new { id = item.MaSP })" class="btn btn-danger btn-sm">Xóa</a>|
                </td>
            </tr>
        }

    </tbody>
    <tfoot>
        <tr>
            <td colspan="6" style="text-align:center">
                <div>

                    <div class="row">
                        @*Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/@Model.PageCount

        @Html.PagedListPager(Model, page => Url.Action("Index",
            new { page, txttim = ViewBag.search,gia = ViewBag.gia }))*@
                        <nav aria-label="Page navigation">
                            <ul class="pagination">
                                @for (int i = 1; i <= ViewBag.pagenumber; i++)
                                {
                                    if (i == ViewBag.Pagecurrent)
                                    {
                                        <li class="active"><a href="@Url.Action("Index","SanPhams",new {page = i,gia = ViewBag.gia,txttim = ViewBag.tim })">@i</a></li>
                                    }
                                    else
                                    {
                                        <li><a href="@Url.Action("Index","SanPhams",new {page = i,gia = ViewBag.gia,txttim = ViewBag.tim })">@i</a></li>
                                    }
                                }
                            </ul>
                        </nav>
                            
                    </div>
                </div>
            </td>
        </tr>
    </tfoot>
</table>

@section scripts{
    @*<script src="~/js-ui/jquery-ui.js"></script>*@
    <script src="~/Controllers/js/Control.js"></script>
}  